# General
/notes/
/traces/
/asm/*.bin
/sketches/convert_me/
/sketches/cpu_server_old/
/sketches/cpu_server_last/
/sketches/due_test/
/json/

# JetBrains IDE stuff
.idea/copilot*

# Arduino stuff

# Ignore IDE folder
.theia
# Ignore compiled programs
*.bin

# Kicad stuff
fp-info-cache
fp-lib-table
Arduino_101_Shield.kicad_mod
Arduino_Due_Shield.kicad_mod
Arduino_Leonardo_Shield.kicad_mod
Arduino_Micro_Socket.kicad_mod
Arduino_Mini_Socket.kicad_mod
Arduino_Nano_Socket.kicad_mod
Arduino_Pro_Mini_Socket.kicad_mod
Arduino_Uno_Shield.kicad_mod
Arduino_Zero_Shield.kicad_mod
Pro_Mini_Clone_Socket.kicad_mod

shields/**/*.lck
shields/**/*.bak
shields/**/*-bak
shields/**/*.kicad_pcb.zip
shields/**/*-backups/
shields/**/gerbers*
shields/**/*.zip
shields/808x/kicad/ard8088.wrl

# 286 HAT
shields/286_5V/kicad/gerbers
shields/286_5V/kicad/arduino_286_5v-backups
shields/286_5V/kicad/arduino*bak
shields/286_5V/kicad/Package_LCC.pretty/*
!shields/286_5V/kicad/Package_LCC.pretty/286-plcc.pretty
shields/286_V3/kicad/Package_LCC.pretty/*
!shields/286_V3/kicad/Package_LCC.pretty/286-plcc.pretty

# 386EX HAT
shields/386EX/kicad/gerbers
shields/386EX/kicad/arduino_386-backups
shields/386EX_V3
shields/387SX


\#auto_saved_files#
_autosave*
rescue-backup

# ASM
/asm/test

# Rust stuff

# Rust example client
client/rust/target/
client/rust/scripts/build2.bat
client/rust/asm/*.asm
!client/rust/asm/program.asm
!client/rust/asm/program_regs.asm


# list files
asm/*.lst
platformio/ArduinoX86/asm/*.lst

# Generated by Cargo
# will have compiled files and executables
/target/

# These are backup files generated by rustfmt
**/*.rs.bk

# macOS .DS_Store files
*.DS_Store

/shields/286_V3.zip
/shields/386EX_V4_C*
